.App {
  text-align: center;
}

.app{
  display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
}
.app__loginsignup{
  width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d08b8b;
    background-color: white;
    box-shadow: 10px 10px 0px black;
}
.app__loginsignup>h1{
  margin-top: 0px;
  font-size: 4rem;
  font-weight: 300;
}
.login, .signup, .back, #send{
    color: #faf8f9;
    background-color: #161009;
    padding: 10px 30px;
    letter-spacing: 6px;
    outline: none;
    font-family: inherit;
    font-weight: bold;
    border-radius: 5px;
}
.file-uploader{
  display: flex;
  padding: 10px;
}
.file-uploader> button{
  display: none;
}
.buttons{
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.buttons__signup,.buttons__login{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.loginpage, .signuppage, .signupsuccess, .dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding-bottom: 30px;
    border: 1px solid #d08b8b;
    background-color: white;
    box-shadow: 10px 10px 0px black;
}
.entity{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.text{
  margin-right: 15px;
  font-size: 1.1rem;
    font-weight: 300;
}
.signuppage > form > button, .loginpage>form> button{
  margin: 10% 5%;
}
.signuppage>h1 , .loginpage>h1, .signupsuccess > h1, .dashboard >h1{
  font-weight: 300;
  font-size: 3rem;
}
.entity > input{
  border-radius: 4px;
    border-width: 1px;
}
.signupsuccess > h1{
  margin-bottom:0px ;
}
.signupsuccess__message {
  display: flex;
  margin: 40px 0px;
}

.signupsuccess__message>h1,.loginsuccess__message>h1{
  font-size: 1.5rem;
  font-weight: 100;
}
.username{
  font-weight: 600;
}

.loginsuccess__message{
    margin: 20px;
    text-align: center;
}